body{
    background-color:#a1cefc;
    background-image: url(https://img.freepik.com/fotos-premium/dispersion-cafe-taza-cafe-granos-cafe-bandeja-bambu_28943-452.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;  
}
a{
display:flex;
flex-direction: column;
    width: 100px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
    font-weight:bolder;
    background-color: antiquewhite;
    border-radius: 20px;
    padding: 20px 20px;
    margin: 5px;
    text-align: center;
    color: #000;
    text-decoration:solid;
}
h1{
    color: white;
    font-size: 3em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.bottom{
display: flex;
flex-direction: row;
justify-content: center;
}